/* Marvel Font */
@font-face {
    font-family: 'MarvelFont';
    src: url('../../fonts/MarvelFont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Full-screen video background */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Keep the video behind the content */
    overflow: hidden;

}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the video covers the entire viewport */
}

/* Image overlay on top of the video */
.custom-image-overlay {
    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../../_images/home_images/HomeBorder.png') no-repeat center center;
        background-size: 100% 100%;
        /* Stretch the image to fill the whole viewport */
        pointer-events: none;
        /* Make sure the image doesn't interfere with user interaction */
        z-index: 1;
        /* Ensures the image is on top of the video */
}

/* Fallback image */
#fallback-image {
    display: none;
    /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* Make sure it stays behind the content */
}

/* General styles for body */
body {
    margin: 0;
    padding: 0;
    min-height: 150vh;
    /* Allows scrolling if content grows */
    background-color: #f0f0f0;
    /* Optional background */
}

/* Dark overlay on video */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust last value to change darkness */
    z-index: -1;
    /* Place it above the video but behind the content */
}