/* Icon Container */
.icon_container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* Icon Styles */
.icon {
    position: relative;
    /* Allow positioning of elements inside the icon */
    display: flex;
    height: 40px;
    width: 40px;
    transition: transform 0.3s ease;
}

/* Hover Effect */
.icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.modeIcon{
    margin-top: 5%;
}