@font-face {
    font-family: 'MarvelFont';
    src: url('../../fonts/MarvelFont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.searched_characters_container {
    position: relative;          /* Positioning relative to allow child positioning if needed */
    display: flex;               /* Enable Flexbox */
    flex-direction: column;      /* Stack items vertically */
    align-items: center;         /* Center items horizontally */
    justify-content: flex-start; /* Align items at the top */
    width: 100%;                 /* Full width of the parent container */
    gap: 15px;                   /* Space between child elements */
}

.searched_character_box {
    position: relative;
    display: flex;    
    flex-direction: column;      /* Stack items vertically */    /* Enable Flexbox for internal content alignment */
    justify-content: center;     /* Center content horizontally */
    align-items: center;         /* Center content vertically */
    height: 100px;                /* Fixed height */
    width: 350px;                /* Fixed width */
    border: 2px solid rgb(215, 105, 105);     /* Define solid black border */
    border-radius: 5px;          /* Rounded corners */
    background-color: rgb(193, 44, 44);     /* White background color */
    text-align: center;          /* Align text in the center */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for better design */
    gap: 10px;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.5s ease; /* Apply the shake animation for 0.5 seconds */
}

.searched_character_image{
    width: auto;               /* Maintain aspect ratio */
    height: auto;              /* Maintain aspect ratio */
    max-width: 50%;           /* Scale down to fit container width */
    max-height: 50%;          /* Scale down to fit container height */
    object-fit: cover;         /* Ensure the image fills the space */
    display: block;            /* Ensure proper block-level rendering */
    position: relative;        /* Relative positioning for flexibility */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    border: 2px solid #000000b6;
}

.searched_character_text{
    position: relative;
    display: flex;               /* Enable Flexbox for internal content alignment */
    justify-content: center;     /* Center content horizontally */
    align-items: center;         /* Center content vertically */
    text-align: center;          /* Align text in the center */
    font-family: Arial, sans-serif; /* Consistent font */
    font-size: 16px;             /* Adjust font size */
    color: #000000;                 /* Text color */
    font-family: MarvelFont, sans-serif;
}
