@font-face {
    font-family: 'MarvelFont';
    src: url('../../fonts/MarvelFont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.emoji_box_container{
    position: relative;
    width: 80vw;
    max-width: 400px;
    height: 250px;
    background-color: #000000d6;
    border: 2px solid #dce1f4b6;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: MarvelFont, sans-serif;
    opacity: 150%;
    flex-direction: column;
    gap: 40%;
}
.emoji_box_container::before {
    content: '';
    position: absolute;
    top: -9%;
    left: -15%;
    right: -10%;
    height: calc(100% + 20%);
    background-image: url('../../_images/home_images/skinnyborder.png');
    background-size: 103% 130%;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 1;
}

.emoji_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 24px;
    position: relative;
    gap: 15px;
}

.emoji{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
   position: relative;
   
}
.emoji_header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 2em;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-family: MarvelFont, sans-serif;
    text-align: center;
    word-wrap: normal;
}

@media (max-width: 500px) {
    .emoji_box_container{
        font-size: .8em;
        height: 200px
    }
}
