/* CONTENTS
- Content center container
- Title header

*/
#content_container {
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    justify-content: flex-start;
    /* Align items at the top */
    align-items: center;
    /* Center items horizontally */
    width: 100%;
    /* Add padding to create space from the top */
}

.title_header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: 'MarvelFont', 'Franklin Gothic Medium';
    color: #ffffff;
    letter-spacing: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    /* Ensure text is centered */
    width: 100%;
    /* Ensure full width */
    white-space: normal;
    /* Allow text to wrap naturally */
    line-height: 1.4;
    /* Optional: Adjust line spacing between the two lines */
    word-wrap: break-word;
    /* Ensure words break if necessary */
}

@media (max-width: 768px) {
    .title_header {
        font-size: 2em;
    }
}


