/* CONTENTS
- Content center container
- Title header

*/
#content_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.title_header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: 'MarvelFont', 'Franklin Gothic Medium';
    color: #ffffff;
    letter-spacing: 0px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    text-align: center;
    width: 80vw;
    max-width: 500px;
    white-space: normal;
    line-height: 1.4;
    word-wrap: break-word;
    margin-bottom: 5vh;
}

@media (max-width: 500px) {
    .title_header {
        font-size: 1.8em;
    }
}


