.silhouette_contaner{
    height: 500px;
    width: 400px;
    position: relative;
    display: flex;
    background-color: rgba(0, 0, 0, 0.751);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Optional shadow for better design */
    border: 3px solid #ffffff;
    flex-direction: column;
    justify-content: center;   /* Center children horizontally */
    align-items: center;       /* Center children vertically */
}

.silhouette_header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: x-large;
    color: #ffffff;
    font-family: 'MarvelFont', Arial;
}

.silhouette_footer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: larger;
    color: #ffffff;
    font-family: 'MarvelFont', Arial;
}

.silhouette_image_container {
    margin-top: 35px;
    margin-bottom: 50px;
    position: relative;
    display: flex;             /* Enable flexbox */
    justify-content: center;   /* Center horizontally */
    align-items: center;       /* Center vertically */
    width: 300px;              /* Set container width */
    height: 300px;             /* Set container height */
    overflow: hidden;          /* Prevent image overflow */
    background-color: #ffffff; /* Optional background for testing */
    border-radius: 50%;        /* Optional: Circular container */
    transition: transform 0.3s ease; /* Smooth transition for transform */
    border: 10px solid #ffffff;
}
.silhouette_image {
    transform: scale(3); /* Adjust the scale value for the zoom level */
    transform-origin: center; /* Ensure the zoom effect is centered */
    width: auto;               /* Maintain aspect ratio */
    height: auto;              /* Maintain aspect ratio */
    max-width: 100%;           /* Scale down to fit container width */
    max-height: 100%;          /* Scale down to fit container height */
    object-fit: cover;         /* Ensure the image fills the space */
    display: block;            /* Ensure proper block-level rendering */
    position: relative;        /* Relative positioning for flexibility */
}

.silhouette_image_container:hover{
    transform: scale(1.02); /* Adjust the scale value for the zoom level */
}

