/* CONTENTS
- Header box with border (before)
- Header container (actual box)
- Header title ("Guess Today's Marvel rival's hero!")
- Header subtitle ("Type any character to start")
- Active Header box (when in use)
- Clue icons
*/

.headerBoxContainer::before {
    content: '';
    position: absolute;
    top: -24.5%;
    left: -15.5%;
    width: 126%;
    height: 152%;
    background-image: url('../../_images/home_images/skinnyborder.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 1;
}

.headerBoxContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    /* For smaller screens */
    max-width: 400px;
    /* Prevent it from stretching too far on desktop */
    height: 20vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    margin: 0 auto;
    /* Center the container */
}

.headerBoxTitle {
    position: relative;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.5em;
    font-family: 'MarvelFont', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    word-wrap: break-word;
            /* Allow wrapping if the title is long */
    white-space: normal;
            /* Allow normal wrapping */
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
        
}

.headerBoxSubtitle {
    position: relative;
    padding: 10px;
    font-family: 'MarvelFont', sans-serif;
    font-size: 1.2em;
    color: #ffffff;
    word-wrap: break-word;
            /* Allow wrapping if the subtitle is long */
    white-space: normal;
            /* Allow normal wrapping */
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

.activeHeaderBoxContainer {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 60vw;
    /* Match the container width */
    max-width: 400px;
    /* Prevent from stretching on desktop */
    height: auto;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

.activeHeaderBoxContainer::before {
    content: '';
    position: absolute;
    top: -8%;
        left: -15%;
        right: -15%;
        height: calc(100% + 20%);
    background-image: url('../../_images/home_images/skinnyborder2.png');
    background-size: 113% 99%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    pointer-events: none;
}

.clueContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 70px;
    font-size: 1.2em;
    color: #ffffff;
    font-family: 'MarvelFont', sans-serif;
    padding: 4%;
    word-wrap: break-word;
            /* Allow wrapping if the subtitle is long */
    white-space: normal;
            /* Allow normal wrapping */
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

.clueSubContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2em;
    word-wrap: break-word;
        /* Allow wrapping if the subtitle is long */
    white-space: normal;
        /* Allow normal wrapping */
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

.clueSubContainer img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: inherit;
    padding-bottom: 6%;
}

.clueSubContainer img:hover {
    transform: scale(1.1);
}

.activeImage {
    transition: transform 0.5s ease;
    animation: hoverUpDown 1.5s ease-in-out infinite;
}

.characterSilhoutteImg {
    position: relative;
    display: flex;
    height: 200px;
    width: 200px;
    justify-content: center;
    transition: all 0.3s ease;
    padding-bottom: 0px;
}

@keyframes hoverUpDown {

    0%,
    100% {
        transform: translateY(-1px);
    }

    50% {
        transform: translateY(0);
    }
}

/* Media Query for mobile and tablets */
@media (max-width: 500px) {


    .headerBoxTitle {
        font-size: 1.2em;
        /* Smaller font size for mobile */

    }

    .headerBoxSubtitle {
        font-size: 1em;
        /* Smaller font size for mobile */
    }
}