

.game_instructions_container{
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 80vw;
    max-width: 400px;
    height: 20vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid #DCE1F4;
    flex-direction: column;
    margin: 0 auto;
}

.game_instructions_header{
    display: flex;
    color: #DCE1F4;
    font-family: MarvelFont, sans-serif;
    font-size: x-large;
    position: absolute;
    top: 10%;
}

.color_container{
    display: flex;
    position: absolute;
    flex-direction: row;
    gap: 50px;
    bottom: 10%;
}

.color_sub_container{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;      
    gap: 10px;
}

.color_text{
    display: flex;
    color: #DCE1F4;
    font-family: MarvelFont, sans-serif;
    font-size: large;
}

.green_color{
    height: 50px;
    width: 50px;
    position: relative;
    display: flex;
    background-color: #7aff6f;
}

.yellow_color{
    height: 50px;
    width: 50px;
    position: relative;
    display: flex;
    background-color: #ffff6f;
}

.red_color{
    height: 50px;
    width: 50px;
    position: relative;
    display: flex;
    background-color: #ff3c3b;
}

.game_instructions_container_img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.hover-effect {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}